.mstheme{
nav-banner-image:url(radbanr.gif);
separator-image:url(radrule.gif);
list-image-1:url(radbul1.gif);
list-image-2:url(radbul2.gif);
list-image-3:url(radbul3.gif);
navbutton-horiz-pushed:url(radhsel.gif);
navbutton-horiz-normal:url(radhbtn.gif);
navbutton-vert-pushed:url(radvsel.gif);
navbutton-vert-normal:url(radvbtn.gif);
navbutton-home-normal:url(radhom.gif);
navbutton-up-normal:url(radup.gif);
navbutton-prev-normal:url(radbck.gif);
navbutton-next-normal:url(radnxt.gif);
}
UL{
list-style-image:url(radbul1.gif);
}
UL UL{
list-style-image:url(radbul2.gif);
}
UL UL UL{
list-style-image:url(radbul3.gif);
}
.mstheme-bannertxt{
font-family:Garamond,"Times New Roman",Times;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:verdana,arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:verdana,arial,helvetica;
font-size:1;
color:#000000;
}
